<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eccom.starter.mapper.RoomTypeMapper">
  <resultMap id="BaseResultMap" type="com.eccom.starter.entity.RoomType">
    <id column="room_type_id" jdbcType="INTEGER" property="roomTypeId" />
    <result column="room_type_name" jdbcType="VARCHAR" property="roomTypeName" />
    <result column="room_type_description" jdbcType="VARCHAR" property="roomTypeDescription" />
    <result column="day_price" jdbcType="DOUBLE" property="dayPrice" />
    <result column="hour_price" jdbcType="DOUBLE" property="hourPrice" />
    <result column="room_type_del" jdbcType="INTEGER" property="roomTypeDel" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from room_type
    where room_type_id = #{roomTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eccom.starter.entity.RoomType">
    insert into room_type (room_type_id, room_type_name, room_type_description, 
      day_price, hour_price, room_type_del
      )
    values (#{roomTypeId,jdbcType=INTEGER}, #{roomTypeName,jdbcType=VARCHAR}, #{roomTypeDescription,jdbcType=VARCHAR}, 
      #{dayPrice,jdbcType=DOUBLE}, #{hourPrice,jdbcType=DOUBLE}, #{roomTypeDel,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.eccom.starter.entity.RoomType">
    update room_type
    set room_type_name = #{roomTypeName,jdbcType=VARCHAR},
      room_type_description = #{roomTypeDescription,jdbcType=VARCHAR},
      day_price = #{dayPrice,jdbcType=DOUBLE},
      hour_price = #{hourPrice,jdbcType=DOUBLE},
      room_type_del = #{roomTypeDel,jdbcType=INTEGER}
    where room_type_id = #{roomTypeId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select room_type_id, room_type_name, room_type_description, day_price, hour_price, 
    room_type_del
    from room_type
    where room_type_id = #{roomTypeId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select room_type_id, room_type_name, room_type_description, day_price, hour_price, 
    room_type_del
    from room_type
  </select>
</mapper>